<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <customErrors mode="Off"/>
    

   

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICacheService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://zhuowang10-001-site1.smarterasp.net/CacheServiceWeb/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICacheService"
        contract="CacheServiceClient.ICacheService" name="BasicHttpBinding_ICacheService" />
    </client>
  </system.serviceModel>
</configuration>
